Cargo.lock
node_modules
build
*.log
package-lock.json
/target/
*.a
*.dylib
*.so
*.o
src/parser.c
src/node-types.json
src/grammar.json
# Allow tree_sitter header files needed for builds
!src/tree_sitter/
!src/scanner.c
!src/*.h
tree-sitter-perl.wasm
log.html
